
<nav class="w3-sidenav w3-hide-medium w3-hide-small" style="width: 600px">
  <%= render "coffee-shop-content", coffee_shop: @coffee_shop %>
</nav>

<div class="w3-main w3-padding-large" style="margin-left: 600px;">

<div class="w3-container w3-hide-large w3-center" style="max-width: 600px; margin: auto">
  <%= render "coffee-shop-content", coffee_shop: @coffee_shop %>
</div>

  <div class="coffee-shop-photos">
    <% @coffee_shop.photos.each do |photo| %>
    <%= cl_image_tag photo.path, class: 'coffee-shop-img' %>
    <% end %>
  </div>
</div>
