.yum-coffee-at-img {
  width: 100%;
  height: auto;
}
.coffee-shop-content {
  padding-top: 20px;
  margin-left: 60px;
  margin-right: 60px;
}
.coffee-shop-description {
  padding: 10% 5%;
  p {
    font-size: 16px;
  }
  span {
    font-size: 16px;
    letter-spacing: 2px;
  }
}
.name-title {
  letter-spacing: 10px;
  margin-top: -8px;
  text-decoration: bold;
}
.coffee-shop-photos {
  max-width: 800px;
}
.coffee-shop-img {
  width: 100%;
  height: auto;
  padding-top: 20px;
}
